/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@tailwind base;
@tailwind components;
@tailwind utilities;

.v-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .v-input__details {
    // display: none;
  }
  .v-card .v-card-title {
    line-height: 0.6;
  }
  .v-card-actions {
    gap: 0;
  }
}
